{{#each this}}​
<tr>
<td>{{Id}}</td>
<td>{{Buyer}}</td>
<td>{{CreatedDate}}</td>
<td>{{#each OrderLines}}
   <span class='badge badge-default'> {{Qty}} {{Name}} ${{Price}}</span>
    {{/each}}
</td>
    <td><button class="delete-order-button btn btn-primary" data-id="{{Id}}">Delete</button></td>
</tr>
{{/each}}
